
body { 
    background-color: white; # rgb(240,240,255); 
	color: #333; 
	padding:0px;
	margin:0px;

	
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#user_nav {
	width:100%;
	font-size: 14pt;
	background:black;
	color:white;
	text-align:right;
}

#user_nav .box {
	background:white;
	color:red;
	padding:5px;
	margin:5px;
	border:1px solid red;
	font-family:Impact, fantasy;
    float:right;
	display:inline-block;
}
div#container {
	padding:0px;
	margin:0px;
}

div#mainbody {
	padding:0px 40px; 
	margin:0px 20px;
	border-left: 15px double blue;
}

div#mainhead {
	font-family:Futura,sans-serif;
	font-size:30pt;
	background:rgb(0,0,100);
	color:white;
	text-align:center;
	height:50pt;
	padding:40px 0px 0px 0px;
	margin:0px;
}

div.natural {
	padding:10px;
	margin:10px;
}
