<h1>Welcome!</h1>
<% if (@current_user) %>
<h2>Start Playing</h2>
<p> Once you register and log in, you can</p>
<h3> Manage your portfolio</h3>
		<a href="portfolio/list">View and manage your portfolio</a>
<h3> View leading scores worldwide</h3>
		<a href="portfolio/leaders">View the top scoring members and see your rank</a>
<h3>View the leader in a particular region</h3>
Your current position is recorded (in microdegrees) as<br/>
(<%=h @current_user.lattitude %>, <%=h @current_user.longitude%>)<br/>
Use the form below to look for the leaders in any local region (using microdegrees).<br/>

		<form method="post" action="/portfolio/local_leaders">
			lat1 <input type="text" name="lat1" value="40000000"/><br/>
			lat2 <input type="text" name="lat2" value="44000000"/><br/>
			lon1 <input type="text" name="lon1" value="-74000000"/><br/>
			lon2 <input type="text" name="lon2" value="-71000000"/><br/>
			<input type="submit" value="show local leaders"/>
			
		</form>
	</li>
</ul>

<h2>Login or Register now to start playing </h2>
<% end %>

Your goal is to make as much <b>fantasy</b> money as you can by investing $100,000 in <b>fantasy</b> money in at most 10 stocks.
This site tracks the value of your <b>fantasy</b> investment over time and ranks your performance with all other players.

<h2> Rules of the Game</h2>
<ul>
	<li>
		After registering, $100,000 USD of fantasy money will be transferred to your account
	</li>
	
	<li>
		You may buy and sell stocks at the current actual stock value (courtesy of Yahoo Finance API) and your fantasy account
		will be augmented or decreased appropriately.
    </li>
		
	<li>
		One of the requirements of playing this game is that you let everyone see your choice of 5 stocks and as well as your
stock trading activity, and conversely you get to see everyone else's portfolio and trading history.
	</li>
	
	<li>
		If you choose to, you can upload your lattitude/longitude from a mobile phone. This will allow you to compare
		yourself to the members who are know to be near by.
	</li>
	
</ul>


<h2> Winning</h2>

<p>
	The only reward for being the "winner" on this site is recognition on this site.  This site deals exclusively with
fantasy dollars, but our hope is that it will increase the level of interest in investing among the world's population
and will bring more people into the real market!
</p>

<p>
The world-wide winner is the one whose fantasy stock portfolio has the higest value right now, but  
there are of course many other ways of measuring success, e.g. the fantasy investor with the greatest profit in the last
year, quarter, month, week, day, hour!  This site will provide many ways of comparing your success with others on the site
inclu
</p>

<p>
	As remarked above, if you choose to upload your position (lattitude/longitude) via a mobile phone you can get your local 
	ranking (i.e. your rank among all players in a 10 mile radius, or a 100 mile radius, ...) As your skill increases your 
	local rankings will also rise...
</p>

